<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>


    <script>
        function avgResponseTime(requests) {
            return requests.map(x => x.time).reduce((a, b) => a + b, 0) / requests.length;
        }
    </script>
</head>

<body>
    <script>
        $('#avg-server').append(avgResponseTime({{serverRequests}}));    
    </script>

    <div id="avg-server">
        Avg server response time: 
    </div>
</body>

</html>